In [3]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.6-cp39-cp39-macosx_10_9_x86_64.whl (577 kB)
     |████████████████████████████████| 577 kB 1.9 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.2.0 in /Users/Robbie/opt/anaconda3/lib/python3.9/site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/Robbie/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/Robbie/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/Robbie/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/Robbie/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.6
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pyreadstat
import pandas as pd

In [11]:
dtafile = 'NAMCS2018-stata.dta'
df, meta = pyreadstat.read_dta(dtafile)

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
print (df)

      VMONTH  VDAYR  AGE  AGER  AGEDAYS  SEX  PREGNANT  GESTWK  ETHUN  RACEUN  \
0          7      2   69     5       -7    2        -7      -7      2       1
1          7      2   64     4       -7    1        -9      -9      2       1
2          7      2   81     6       -7    1        -9      -9      2       1
3          7      2   66     5       -7    1        -9      -9      2       1
4          7      2   44     3       -7    1        -9      -9      2       1
...      ...    ...  ...   ...      ...  ...       ...     ...    ...     ...
9948       9      4   19     2       -7    1        -9      -9      2       3
9949       9      4   93     6       -7    1        -9      -9      2       1
9950       9      4   32     3       -7    2        -7      -7      2       1
9951       9      4   65     5       -7    1        -9      -9      2       1
9952       9      4   27     3       -7    2        -7      -7     -9      -9

      ...  RX30V3C1  RX30V3C2  RX30V3C3  RX30V3C4   CSTRATM   CPSUM  YEAR  \
0     ...                                          10118102  100001  2018
1     ...                                          10118102  100001  2018
2     ...                                          10118102  100001  2018
3     ...                                          10118102  100001  2018
4     ...                                          10118102  100001  2018
...   ...       ...       ...       ...       ...       ...     ...   ...
9948  ...                                          10418115  100496  2018
9949  ...                                          10418115  100496  2018
9950  ...                                          10418115  100496  2018
9951  ...                                          10418115  100496  2018
9952  ...                                          10418115  100496  2018

      SETTYPE          PATWT      PHYSWT
0           1   26516.679688  222.454575
1           1   26516.679688         NaN
2           1   26516.679688         NaN
3           1   26516.679688         NaN
4           1   26516.679688         NaN
...       ...            ...         ...
9948        1  309659.593750         NaN
9949        1  309659.593750         NaN
9950        1  309659.593750         NaN
9951        1  309659.593750         NaN
9952        1  309659.593750         NaN

[9953 rows x 1038 columns]

In [90]:
df.query('PHYS==0 & NPNMW==1').loc[:,('PHYS','NPNMW','TIMEMD')]

      PHYS  NPNMW  TIMEMD
600      0      1       0
602      0      1       0
1491     0      1       0
1496     0      1       0
3294     0      1       0
8732     0      1       0

In [23]:
pd.set_option('max_rows', None)

In [14]:
PHYS_Total = 'Phys_Total',df['PHYS'].sum()
PHYSASST_Total = 'PhysASST_Total',df['PHYSASST'].sum()
NPNMW_Total = 'NPNMN_Total',df['NPNMW'].sum()
print (PHYS_Total)
print (PHYSASST_Total)
print (NPNMW_Total)

('Phys_Total', 9826)
('PhysASST_Total', 327)
('NPNMN_Total', 173)